<?xml version="1.0"?>
<config>
    <modules>
        <Customview_Customview>
            <version>0.1.0</version>
        </Customview_Customview>
    </modules>
    <frontend>
        <routers>
            <customview>
                <use>standard</use>
                <args>
                    <module>Customview_Customview</module>
                    <frontName>customview</frontName>
                </args>
            </customview>
        </routers>
        <layout>
            <updates>
                <customview>
                    <file>customview.xml</file>
                </customview>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<customview>
				<use>admin</use>
				<args>
					<module>Customview_Customview</module>
					<frontName>customview</frontName>
				</args>
			</customview>
        </routers>
    </admin>
    <adminhtml>
		<menu>
			<customview module="customview">
				<title>Customview</title>
				<sort_order>71</sort_order>               
				<children>
					<items module="customview">
						<title>Manage Items</title>
						<sort_order>0</sort_order>
						<action>customview/adminhtml_customview</action>
					</items>
				</children>
			</customview>
		</menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<Customview_Customview>
							<title>Customview Module</title>
							<sort_order>10</sort_order>
						</Customview_Customview>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<customview>
					<file>customview.xml</file>
				</customview>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <customview>
                <class>Customview_Customview_Model</class>
                <resourceModel>customview_mysql4</resourceModel>
            </customview>
            <customview_mysql4>
                <class>Customview_Customview_Model_Mysql4</class>
                <entities>
                    <customview>
                        <table>customview</table>
                    </customview>
                </entities>
            </customview_mysql4>
        </models>
        <resources>
            <customview_setup>
                <setup>
                    <module>Customview_Customview</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </customview_setup>
            <customview_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </customview_write>
            <customview_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </customview_read>
        </resources>
        <blocks>
            <customview>
                <class>Customview_Customview_Block</class>
            </customview>
        </blocks>
        <helpers>
            <customview>
                <class>Customview_Customview_Helper</class>
            </customview>
        </helpers>
    </global>
</config>